@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Galada|Nanum+Gothic|Nanum+Myeongjo);/*@infort는 css용으로 사용할 수 있음*/

* {margin:0; padding:0;}
html{font-size: 16px;}
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Nanum Gothic', sans-serif }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}/*컨텐츠와 컨텐츠의 사이를 분리해주는 역할을 함*/
a {color:inherit;text-decoration:none; outline: 0;}
table{border-collapse:collapse}
input, textarea, input::placeholder, textarea::placeholder {
       color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
       outline: 0;}
button{outline:0}

.sound_only{display: block; text-indent: -999999999999999px; height: 0;}


/*******************************메인화면, 서브화면 공통영역*****************************************************************/

#wrap{width: 100%; min-width: 1024px; overflow: hidden;}
.inner{min-width: 1024px; max-width: 1280px; margin: 0 auto;}
#header .top_icon{
      float: right;
      height: 75px;
    
}

/*네비4 */
#header .inner{position: relative;}
#nav4 .depth1{float: left;}
#nav4 .depth1 > li {float:left; padding: 0 20px;}
#nav4 .depth1 > li > a {display: block;
        text-align: center;font-size:1rem;color:#333;
        font-weight: bold; line-height: 75px;
        }
        #nav4 .depth1 > li > a:after{content: '';height: 3px; background-color: red;
                                     position: relative; width:0; display: block;
                                    transition: 0.5s;}
        #nav4 .depth1 > li:hover > a::after{width: 100%;}
                                           
    
    #nav4 .depth1{position: static;}  

    #nav4 .nav_box {position:absolute;/*top:calc(2.8rem + 25px);*/top :78px;left:0;width:100%;
                 background-color:rgba(0,0,0,0.5);z-index:96;
                display: none; color: #fff;
                padding:10px 0;}
    #nav4 .depth1>li:hover .nav_box{display: block;}               
    #nav4 .nav_box .depth2{width:100%;margin:0 auto;position: relative;
                       /*text-align: center;*/
                       padding-left: 100px;box-sizing: border-box;}
    #nav4 .nav_box .depth2:after{content: '';display: block;clear: both;}
    #nav4 .depth2 > li{display: inline-block; box-sizing: border-box;
                    padding:10px;}


   #nav4 .depth2 li:after{content:'';display: inline-block;
                        width: 5px; height: 5px; background-color: red;
                        border-radius: 50%;margin-left: 20px;transform: translate(0,-3px);}
 #nav4 .depth2  > li:last-child::after{display: none;}                  

   
/*header*/
#header #logo{float: left; width:150px;}/* display: block;display: table;
#header #logo a{display: table-cell;vertical-align: middle;} 네비가 중앙에 올 수 있음*/
#logo img{width: 100%;}
#header #nav4{float: right;} 

.top_icon{}
.top_icon img{width:35px;}
.top_icon p{float: left;margin-left: 20px;}
.top_icon .i_con span{
      display: block;
      width: 30px;
      height: 5px;
      background-color: #000;
      margin-bottom: 3px;
}

/**footer**/
#footer .inner{
      font-size: 0.9rem;
      border-top: 1px solid#ccc; clear: both;  
     }
#footer .txt1 p{margin-top: 25px;}
#footer .txt1 p a{
      margin-right: 10px;
      margin-bottom: 25px;    
}
#footer .txt2 img{
      width: 200px;
      height: 50px;
      margin-bottom: 20px;
      margin-top: 20px;
}
#footer .sns{float: right;}
#footer .sns a{
      display: inline-block;
      width:40px;height:40px;
      background: url(../images/icon_set1.png);
}
#footer .sns a:nth-child(1){background-position:0 -378px ;}
#footer .sns a:nth-child(2){background-position: -40px -378px ;}
#footer .sns a:nth-child(3){background-position:-78px -378px ;}
#footer .sns a:nth-child(4){background-position: -118px -378px;}

#footer .txt3{
      line-height: 20px;
}